
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #483ed1;    
}

a {
    color: #edefed;
    text-decoration: none;
}

header{
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
    color: #ffffff;
    height:100px;
}

header h1{
    display: inline-block;
    font-size: xx-large;
}

header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


#bio {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    padding-top: 550px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 400px;
    margin-right: 400px;
    color: #000;
}

img {
    border: 3px solid #000;
    width: 300px;
    height: 300px;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    text-align: center;
    text-decoration: #000;
    color: #000;
}

#projects {
    padding: 50px;
    text-align: center;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
}

#proj {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color:#000
}

footer{ 
    text-align: center;
    background-color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: #ffffff;
    height: 100px;
}

#yeet {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 5px;
}
h2{
    color: #000;
}