
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #483ed1;    
}

a {
    color: #edefed;
    text-decoration: none;
}

header{
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
    color: #ffffff;
}

header h1{
    display: inline-block;
    font-size: 48px;
}

header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


#about-me {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    padding-top: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    border: 3px solid #000;
    width: 300px;
    height: 300px;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    text-align: center;
    text-decoration: #000;
}

#projects {
    padding: 50px;
    text-align: center;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#proj {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}